<html>
    <body>
        <form action="" method="post">
            {% csrf_token %}
            <label for="x_value">X coordinate: </label>
            <input id="x_value" type="int" name="x_value" value="{{ xval }}">
            <label for="y_value">Y coordinate: </label>
            <input id="y_value" type="int" name="y_value" value="{{ yval }}">
            <label for="radius">Radius</label>
            <input id="radius" type="int" name="radius" value="{{ radius }}">
            <input type="submit" value="Get Drivers">
        </form>
        <table>
            <thead>
                <tr>
                    <th>Driver Id</th>
                    <th>X coordinate</th>
                    <th>Y coordinate</th>
                </tr>
            </thead>
            <tbody>
                {% for item in msg%}
                <tr>
                    <td>{{item.driver_id}}</td>
                    <td>{{item.x_coor}}</td>
                    <td>{{item.y_coor}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>